<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% load static %}
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-blue-600 text-white p-4 shadow-md">
        <div class="container mx-auto">
            <h1 class="text-3xl font-bold">My Django Project</h1>
        </div>
    </header>
    <main class="container mx-auto my-8 p-4 bg-white shadow-md rounded">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-gray-800 text-white p-4 mt-8">
        <div class="container mx-auto">
            <p>&copy; 2024 My Django Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
