{% extends 'base.html' %}

{% block title %}Home - My Django Project{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4">Welcome to My Django Project</h2>
<p class="text-lg mb-4">
    This is a simple example of a home page styled with Tailwind CSS.
</p>
<a href="#" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Learn More</a>
{% endblock %}
